# Nuxt dev/build outputs
.output
.nuxt
# Node dependencies
node_modules
# System files
*.log
videos
About
Contact
ForgotPassword
History
Home
HomePage
Login
OceanExplorer
OceanPlanner
Panel
Resources
Signup
OPASS
PP
WPgen
gliderMenu.vue
missions.vue.b
missions
redirectMappy.js
about.vue
careers.vue
cnvGlider.vue
contact.vue
forgot-password.vue
history.vue
login.vue
news
ocean-explorer.vue
ocean-planner.vue
panel
resources
services.vue
services2.vue
signup.vue
team.vue
team2.vue
verify-email
pushOceanMappy.sh
PP.js
WPgen.js
comments.js
index.js
missions.js
news.js
resources.js
users.js
